<h1><%= t('rankings.title') %></h1>

<% @users_with_posts.each do |user_data| %>
  <h2><%= t('rankings.user_posts_title', user_name: user_data[:user].name) %></h2>

  <ul>
    <% user_data[:posts].each do |post| %>
      <li>
        <strong><%= t('rankings.product_name') %>:</strong> <%= post.product_name %><br>
        <strong><%= t('rankings.product_rank') %>:</strong> <%= post.product_rank %><br>
        <strong><%= t('rankings.recommendation_points') %>:</strong> <%= post.recommendation_points %><br>
        <strong><%= t('rankings.purchase_link_text') %>:</strong> 
        <%= link_to t('rankings.purchase_link_text'), post.purchase_link, target: '_blank', rel: 'noopener' %>

        <!-- 商品画像の表示 -->
        <div class="post-images">
          <% if post.post_images.present? %>
            <% post.post_images.each do |post_image| %>
              <%= image_tag post_image.image_url.url, 
                            alt: t('rankings.image_alt_text', product_name: post.product_name), 
                            class: "product-image" %>
            <% end %>
          <% else %>
            <p><%= t('rankings.no_images') %></p>
          <% end %>
        </div>
      </li>
      <hr>
    <% end %>
  </ul>
<% end %>
