<!-- app/views/users/new.html.erb -->
<h1>アカウント登録</h1>
  
 <!-- フラッシュメッセージの表示 -->
 <% if flash[:alert] %>
   <div class="alert alert-danger">
     <%= flash[:alert] %> <!-- フラッシュメッセージ（エラー内容）を表示 -->
   </div>
 <% end %>

<%= form_with model: @user, local: true do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "登録", class: "btn btn-primary" %>
  </div>
<% end %>