<% @posts.each do |post| %>
    <div class="post">
      <h2><%= link_to post.product_name, post_path(post) %></h2>
  
      <!-- 投稿者名とプロフィール画像を追加 -->
      <div class="post-author">
        <% if post.user.profile.present? && post.user.profile.profile_image.present? %>
          <!-- サムネイルバージョンの画像を表示 -->
          <%= image_tag post.user.profile.profile_image.thumb.url, alt: post.user.name, class: "profile-image" %>
        <% else %>
          <%= image_tag 'default_profile.png', alt: post.user.name, class: "profile-image" %> <!-- プロフィール画像がない場合のデフォルト画像 -->
        <% end %>
        <p>投稿者: <%= post.user.name %></p>
      </div>
  
      <p>ランク: <%= post.product_rank %></p>
      <p>おすすめポイント: <%= post.recommendation_points %></p>
      <p>購入リンク: <%= post.purchase_link %></p>
    </div>
<% end %>

<!-- ページネーションリンクを追加 -->
<%= paginate @posts %>
