<% @posts.each do |post| %>
  <div class="post">

    <!-- 投稿者名とプロフィール画像 -->
    <div class="post-author">
      <% if post.user.profile.present? && post.user.profile.profile_image.present? %>
        <%= link_to image_tag(post.user.profile.profile_image.thumb.url, alt: post.user.name, class: "profile-image"), 
                    user_path(post.user) %>
      <% else %>
        <%= link_to image_tag('default_profile.png', alt: post.user.name, class: "profile-image"), 
                    user_path(post.user) %>
      <% end %>
      
      <!-- 投稿者名をユーザーページへのリンクに変更 -->
      <p>
        <%= t('posts.author') %><%= link_to "#{post.user.name}", user_path(post.user), class: "user-link" %>
      </p>
    </div>

    <p><%= t('posts.product_name') %>: <%= post.product_name %></p>
    <p><%= t('posts.rank') %>: <%= post.product_rank %></p>
    <p><%= t('posts.recommendation_points') %>: <%= post.recommendation_points %></p>

    <!-- 商品画像の表示 -->
    <div class="post-images">
      <% if post.post_images.present? %>
        <% post.post_images.each do |post_image| %>
          <%= image_tag post_image.image_url.url, alt: "#{post.product_name}#{t('posts.image_alt')}", class: "product-image" %>
        <% end %>
      <% else %>
        <p><%= t('posts.no_product_images') %></p>
      <% end %>
    </div>
    <p class="purchase-link">
      <%= link_to t('posts.purchase'), post.purchase_link, target: "_blank", rel: "noopener" %>
    </p>
  </div>
<% end %>

<%= paginate @posts, class: 'pagination' %>
